src/bevformer_pkg/models/bevformer_latest.trt
src/bevformer_pkg/models/tcar_latest_old.trt
src/traffic_pkg/models/best_old.pt
src/traffic_pkg/script/__pycache__/
__pycache__/
*.py[cod]
.omx
.codex
debug_tools/
