<launch>
  <!-- 공통 옵션 -->
  <arg name="ns"                 default="traffic" />
  <arg name="use_sim_time"       default="false" />

  <!-- 구독/발행 토픽 -->
  <arg name="image_topic"        default="/camera_4/compressed" />
  <arg name="pub_detections"     default="/traffic/detections" />
  <arg name="pub_image"          default="/traffic/image_bbox/compressed" />

  <!-- 모델/파라미터 (models/ 아래 파일명만 지정하세요) -->
  <arg name="stage1_weights"     default="0608_stage1.pt" />
  <arg name="stage2_weights"     default="0807_stage2.pt" />
  <arg name="det_conf"           default="0.4" />
  <arg name="iou"                default="0.7" />
  <arg name="padding_ratio"      default="0.1" />
  <arg name="imgsz"              default="640" />
  <arg name="min_detection_aspect_ratio"          default="2.0" />

  <group ns="$(arg ns)">
    <param name="/use_sim_time" value="$(arg use_sim_time)"/>

    <node
      pkg="traffic_pkg"
      type="inference_traffic.py"
      name="traffic_light_inference_node"
      output="screen"
      respawn="true"
      respawn_delay="2">

      <!-- private params (~) -->
      <param name="image_topic"          value="$(arg image_topic)"/>
      <param name="stage1_weights"       value="$(arg stage1_weights)"/>
      <param name="stage2_weights"       value="$(arg stage2_weights)"/>
      <param name="det_conf"             value="$(arg det_conf)"/>
      <param name="iou"                  value="$(arg iou)"/>
      <param name="padding_ratio"        value="$(arg padding_ratio)"/>
      <param name="imgsz"                value="$(arg imgsz)"/>
      <param name="min_detection_aspect_ratio"          value="$(arg min_detection_aspect_ratio)"/>
      <param name="pub_detections_topic" value="$(arg pub_detections)"/>
      <param name="pub_image_topic"      value="$(arg pub_image)"/>

      <!-- subscriber remap: 필요 시 다른 카메라 토픽으로 교체 -->
      <!--
      <remap from="/camera_3_undistorted/compressed" to="/my_cam/image_raw/compressed"/>
      -->
    </node>
  </group>
</launch>
